body{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
.blue-color{
    color: violet;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 10%;
}
.half-width img{
    width: 100%;
    padding-top: 10%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(sandybrown, tomato);
    padding: 4px 8px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}